header {
    text-align: center;
    width:100

}
.div1{
    height: 600px;
    width: 100%;
    margin: auto;
    background-color: aquamarine;
}
.web{
    font-size: 30px;
    color: brown;
    text-align: right;

}