header {
    text-align: center;
    width:100

}
.div1{
    height: 600px;
    width: 100%;
    margin: auto;
    
}
.web{
    text-align: right;
    font-size: 30px;
    color: brown; 
    text-align: center;
}

.first{
    background-color: aquamarine;


}